@import '../../../scss/variables';
@import '../../../scss/fonts';


.banner-container{
  width: 100%;
  height: 40vh;
  position: relative;
  margin: 0 auto;
  img{
    width: 100vw;
    max-height: 100%;
    object-fit: cover;
    object-position: 50% 40%;
  }

.container{
  position: relative;
  margin: 5vh auto;
  width: 80%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  form{
    margin: auto;
    *{
      margin: 5vh 0;
    }

    #file-input{
      margin-top: 10vh;
    }
  }
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#camera{
  display: none;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Select an image';
  display: inline-block;
  border: 1px solid $red-font;
  padding: 5px 8px;
  outline: none;
  color: $red-font;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font: text-font;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: $red-font;
  background-color:$hover-red-background;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

#cameraInput::-webkit-file-upload-button {
  visibility: hidden;
}
#cameraInput::before {
  content: 'Take a Picture';
  display: inline-block;
  border: 1px solid $red-font;
  padding: 5px 8px;
  outline: none;
  color: $red-font;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font: text-font;
  font-size: 10pt;
}
#cameraInput:hover::before {
  border-color: $red-font;
}
#cameraInput:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

@media (max-width: 767px) {
  #camera{
    display: block;
  }
}