@import '../../../../scss/variables';
@import '../../../../scss/fonts';

mat-card{
  height: 20vh;
  width: 20vh;
  margin: 0 0.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  img{
    max-height: 80%;
    max-width: 80%;
    object-fit: fit;
  }
  mat-card-actions{
    display:flex;
    justify-content: center;
    align-items: center;
  }
}
