@import '../../../../scss/variables';
@import '../../../../scss/fonts';

mat-card {
  padding: 0;
  height: 190px;
  width: 190px;
  margin: 0.5vh 0.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  .md-unstyled-image img {
    max-width: 100%;
    min-height: 145px;
    width: 250px;
    height: auto !important;
    border-radius: 1%;
  }

  mat-card-content {
    padding: 0 1.6vh 0.5vh 1.6vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    mat-card-actions {
      padding: 0 0.5vh;
      display:flex;
      justify-content: center;
      align-items: center;
    }
  }
}
