@import '../../../../scss/variables';
@import '../../../../scss/fonts';
.container {
  position: relative;
  margin: 0 auto;
  height: 88vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    height: 100%;
    .img-container {
      height: 40%;
      img {
        max-height: 90%;
        max-width: 90%;
        object-fit: contain;
      }
      h3 {
        margin: 0;
        font: $title-font;
        color: $red-font;
        font-weight: bold;
      }
    }
    h3 {
      font: $title-font;
      margin: 0;
      font-weight: bold;
    }
    .recipes {
      height: 50%;
      width: 100%;
      overflow-x: scroll;
      .all-recipes {
        height: 90%;
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        padding-left: 3vw;
        *{
          margin-right: 0.5vw;
        }
        :last-child{
          margin-right: 1.5vw;
        }
      }
    }
  }
}

@media(max-width: 767px) {
  .container {
    position: relative;
    margin: 0 auto;
    height: 75vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .photo {
      .img-container {
        height: 30%;
        img {
          max-height: 90%;
          max-width: 90%;
          object-fit: contain;
        }
        h3 {
          margin: 0;
          font: $title-font;
          color: $red-font;
          font-weight: bold;
        }
      }
      h3 {
        font: $title-font;
        margin: 0;
        font-weight: bold;
      }
      .recipes {
        height: 50%;
        width: 100%;
        overflow-x: scroll;
        .all-recipes {
          height: 90%;
          display: flex;
          justify-content: space-around;
          align-items: baseline;
          padding-left: 15vw;
          *{
            margin-right: 1vw;
          }
          :last-child{
            margin-right: 1.5vw;
          }
        }
      }
    }
  }
}
