<div class="container">
  <div *ngIf="!photos">
    <h1>Loading your recipes</h1>    
  </div>
  <div *ngIf="photos">
    <div class="no-photos" *ngIf="photos.length < 1">
      <h1>You don't have uploaded any photo yet, take one and discover some recipes!</h1>
    </div>
    <div *ngIf="photos.length > 0">
      <h1>My uploaded photos!</h1>
      <div id="my-photos">
        <div *ngFor="let photo of photos">
          <app-photo-card [photo]="photo" (deletePhoto)="deletePhoto($event)"></app-photo-card>
        </div>
      </div>
    </div>
  </div>
</div>
