@import '../../../../scss/variables';
@import '../../../../scss/fonts';

.container {
  position: relative;
  margin: 0 auto;
  height: 88vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .foundInfo {
    .photo {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      .img {
        height: 60%;
        img {
          border-radius: 3%;
          max-height: 90%;
          max-width: 90%;
          object-fit: contain;
        }
        h1 {
          margin: 0;
          font: $title-font;
          color: $red-font;
          font-size: 2rem;
          font-weight: bold;
        }
      }
      a{
        margin: 0 auto;
      }
    }
    .info {
      height: 60%;
      h3 {
        font: $title-font;
        margin: 0;
        font-weight: bold;
      }
      mat-list {
        height: 90%;
        overflow: auto;
        mat-list-item {
          h4 {
            margin: 0;
            font: $text-font;
          }
        }
      }
    }
  }
  .no-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    .img-info{
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
      height: 100%;
      .img {
        height: 40%;
        img {
          border-radius: 3%;
          max-height: 90%;
          max-width: 90%;
          object-fit: contain;
        }
        h1 {
          margin: 0;
          font: $title-font;
          color: $red-font;
          font-size: 2rem;
          font-weight: bold;
        }
      }
      .info {
        margin-top: 1vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 40%;
        img {
          max-height: 90%;
          max-width: 90%;
          object-fit: contain;
        }
        h3 {
          margin: 0;
          margin-bottom: 1vh;
          font: $text-font;
        }
      }
    }
  }
}

@media(max-width: 767px) {
  .container {
    position: relative;
    margin: 0 auto;
    height: 75vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .foundInfo {
      height: 100%;
      .photo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        .img {
          max-height: 50%;
          img {
            max-height: 90%;
            max-width: 90%;
            object-fit: contain;
          }
          h3 {
            margin: 0;
            font: $title-font;
            color: $red-font;
            font-weight: bold;
          }
        }
        .info {
          max-height: 45%;
          h3 {
            font: $title-font;
            margin: 0;
            font-weight: bold;
          }
          mat-list {
            height: 90%;
            overflow: auto;
            mat-list-item {
              h4 {
                margin: 0;
                font: $text-font;
              }
            }
          }
        }
      }
    }
    .no-info{
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      .img-info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        .img {
          max-height: 40%;
          img {
            border-radius: 3%;
            max-height: 100%;
            max-width: 100%;
            object-fit: contain;
          }
          h3 {
            margin: 0;
            font: $title-font;
            color: $red-font;
            font-weight: bold;
          }
        }
        .info {
          display: flex;
          flex-direction: column;
          align-items: center;
          max-height: 10%;
          h3 {
            font: $title-font;
            margin: 0;
            font-weight: bold;
          }
          img{
            display: none;
          }
        }
      }
    }
  }
}
