<mat-card class="example-card">
  <div *ngIf="recipe.images[0]" class="md-unstyled-image">
    <img src="{{recipe.images[0].replace('125x70', '200x150')}}" alt="{{recipe.name}}">
  </div>
  <div *ngIf="!recipe.images[0]" class="md-unstyled-image">
    <img src="http://via.placeholder.com/200x150" alt="{{recipe.name}}">
  </div>
  <mat-card-content>
    <mat-card-subtitle>{{recipe.name}}</mat-card-subtitle>
    <mat-card-actions>
      <a mat-button (click)="onToggleFav(recipe._id)">
        <i *ngIf="starred=='nope'" class="material-icons md-48">favorite_border</i>
        <i *ngIf="starred=='yep'" class="material-icons md-48 fav">favorite</i>
      </a>
      <a mat-button [routerLink]="['/recipe/' + recipe._id]">DETAILS</a>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
