<footer>
  <ul id="tab-bar">
    <li>
      <a [routerLink]="['home']" [routerLinkActive]="['is-active']">
        <div>
          <i class="material-icons md-48">home</i>
          <span>Home</span>
        </div>
      </a>
    </li>
    <li>
      <a [routerLink]="['home']" [routerLinkActive]="['is-active']">
        <div>
          <i class="material-icons md-48">camera_alt</i>
          <span>Pictures</span>
        </div>
      </a>
    </li>
    <li>
      <a [routerLink]="['profile']" [routerLinkActive]="['is-active']">
        <div>
          <i class="material-icons md-48">face</i>
          <span>Profile</span>
        </div>
      </a>
    </li>
  </ul>
</footer>
