<div class="form-container">
  <form>
    <h2> Signup </h2>
    <mat-form-field>
      <input matInput placeholder="Username" [(ngModel)]="username" name="username">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" [(ngModel)]="email" name="email">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'" name="password">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    </mat-form-field>
    <button mat-flat-button color="warn" (click)="signup(username, email, password)"> SIGNUP </button>
  </form>
  <p class="error"> {{ error }} </p>
</div>
