<div class="banner-container">
  <img src="/assets/food-photo.jpg" alt="food-photo">
</div>
<div class="container">
  <form>
    <div id="file-input">
      <input type="file" class="custom-file-input" name="file" ng2FileSelect [uploader]="uploader">
    </div>

    <div id="camera">
      <input type="file" capture="camera" accept="image/*" id="cameraInput" ng2FileSelect [uploader]="uploader" name="cameraInput">
    </div>
    <button mat-flat-button color="warn" type="submit" (click)="submit()"> SUBMIT </button>
  </form>
</div>
