/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import './scss/variables';
@import './scss/fonts';

body{
  margin: 0;
  padding: 0;
  font-size: 18px;
  background-color: $red-background;
}

.form-container{
  display: flex;
  justify-content: center;
  align-items: center;
  form{
    display: inline-flex;
    flex-direction: column;
    h2{
      font: $title-font;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
}

a:visited{
  color: black;
}

.mat-step-header .mat-step-icon{
  background-color: $red-font;
  span{
    height: 16px;
  }
}

.mat-vertical-stepper-header .mat-step-icon-not-touched {
  span{
    height: 16px;
  }
}

.container{
  padding-bottom:10vh;
}
