@import '../../../../scss/variables';
.container{
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Arimo', sans-serif;
  .img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    img{
      max-width: 100%;
    }
  }
}